<!DOCTYPE html>
<html>
  <head>
    <title>Example period 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Intro</h2>
      <br>
      <p>Click <a href="/Interest Rates">here</a> to get the Interest Rate Summary.</p>
      <p>Click <a href="/Inflation">here</a> to get the Inflation Summary.</p>
      <p>Click <a href="/GDP">here</a> to get GDP Summary.</p>
      <p>Click <a href="">here</a> to go......</p>
      <p>Click <a href="">here</a> to go to......</p>
    </div>
  </body>
</html>